@import '../custom';


$type-color: ( primary: $primary-color,
success: $success-color,
info: $info-color,
warning: $warning-color,
error: $error-color,
);


@mixin colored-btn($color) {
    border-style: 1px solid $color;
    color: #fff;
    background-color: $color;
}


@mixin gen-btn-type-cls($type) {
    .v-btn-#{$type} {
        @if $type==dashed {
            border: 1px dashed $border-color;
        }
        @else if $type==text {
            background-color: #fff;
            border-style: none;
        }
        @else {
            @include colored-btn(map-get($type-color, $type));
        }
    }
    .v-btn-#{$type}[disabled] {
        color: $disable-color;
        background-color: #f7f7f7;
        border-color: $border-color;
        opacity: 1;
    }
}

.v-btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 5px 15px;
    color: $font-color;
    font-size: 12px;
    border-radius: $border-radius;
    background-color: #fff;
    transition: opacity 0.5s linear;
    font-weight: lighter;
}

.v-btn:hover {
    opacity: 0.5;
}

$btn-type: (primary, info, success, warning, error, dashed, text);
@each $type in $btn-type {
    @include gen-btn-type-cls($type);
}

@each $type in dashed,
default,
text {
    .v-btn-#{$type}:hover {
        color: $primary-color;
        border-color: $primary-color;
    }
}

.v-btn-circle {
    border-radius: 2em;
}

.v-btn-large {
    font-size: 16px;
    padding: 6px 15px;
}

.v-btn-small {
    font-size: 12px;
    border-radius: 3px;
    padding: 1px 7px 2px;
}

.v-btn-long {
    width: 100%;
}