@import './custom';
.v-btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 5px 15px;
    font-size: $font-size;
    border-radius: $border-radius;
    background-color: $default-color;
}

.v-btn-primary {
    background-color: $primary-color;
}

.v-btn-danger {
    background-color: $error-color;
}

.v-btn-success {
    background-color: $success-color;
}

.v-btn-warning {
    background-color: $warning-color;
}

.v-btn-disabled {
    background-color: $disable-color;
}

.v-btn-long {
    width: 100%;
}