@import '../custom';
.v-messages {
    position: fixed;
    top: 26px;
    left: 0;
    right: 0;
}

.v-message {
    margin: 10px 0px;
}

.v-message-content {
    background: #fff;
    border-radius: $border-radius;
    border: $border;
    box-shadow: $box-shadow;
    display: inline-flex;
    min-width: 200px;
    padding: 8px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: $font-color;
    align-items: center;
}

.v-message-close {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

