@import '../custom';
.v-upload-wraper {
	display: inline-block;
}

.v-upload-btn > input{
	display: none;
}

.v-upload-select {
	border: 1px dashed $border-color;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}

.v-upload-select:hover {
	border-color: $primary-color;
}

.v-upload-drag {
	border: 2px dashed $primary-color;
}

.v-upload-list {
	// display: inline-block;
	list-style: none;
	padding: 0;
	color: $font-color;
	font-size: $font-size;
}

.v-upload-list li {
	margin: 10px;
}

.v-upload-list li:hover {
	background-color: $background-color;
	cursor: pointer;
}

.v-upload-image {
	widows: 50px;
	height: 50px;
}