$font-color: #515a6e;
$font-size: 16px;


$primary-color: #2d8cf0;
$disable-color: #c5c8ce;
$warning-color: #ff9900;
$success-color: #19be6b;
$error-color: #ed4014;
$info-color: #2db7f5;
$default-color: #f8f8f9;


$border-color: #dcdee2;
$border-radius: 4px;
$box-shadow: 0 1px 6px rgba(0, 0, 0, .2);