@import '../animation/animation';
* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
}

// loading 样式
.loading {
	display: inline-block;
	margin-right: 2px;
	margin-left: 2px;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	border: 1px dashed #4b9cdb;
	animation: loading 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;
}